#quiz {
    display: none;
}
#scoreBox {
    display: none;
}
#some_div {
    display: none;
}
#main-button{
    display: block;
}
#ta-button{ 
    display: none;
}
html, body {
    height: 100%;
    background-color: #1f0005;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}
#main-page{
       height: 100%;
}
p{
    color:white;
}
.fa-stopwatch{
    color: white;
}
#time-container{
    text-align: center;
   
}
#button-container{
    text-align: center;
}
form{
    color: white;
}
.jumbotron{
    background-color: black;
}
.btn-lg{
    background-color: black;
}